src/github.com
tmp/
node_modules/
*/dist/*

pkg/
*.exe
*.dll
*.so
*.dylib
*.test
*.out
.glide/
.idea/
nmh-manifest.json
exampleWebExtension/src/background-compiled.js
log.txt
bin
HostApp
test_keys/GPGHOME
